* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}

ul {
  list-style: none;
}
ul li a:first-child {
  padding-left: 0;
  margin-left: 0;
}

.fas {
  color: #ab2623;
}

.fa-map-marker-alt {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: #f8f8f8;
  padding: 6px 20px;
  margin: 0 5px;
  font-weight: bold;
}
a:hover {
  color: #ab2623;
}
a#cart {
  padding: 2px 5px;
}

h1 {
  font-size: 3.3rem;
  color: #333;
}

.light {
  color: #fff;
}

h2 {
  font-size: 2.3rem;
}

h1,
h2,
h3 {
  color: #333;
  font-family: "Domine", serif;
  font-weight: 700;
}

p {
  word-spacing: 1px;
  line-height: 1.5;
}

header {
  position: relative;
  background-color: #282523;
  color: #fff;
}

#header-container {
  display: flex;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 75%;
  width: 90%;
  margin-left: 120px;
  padding-left: 25px;
}
.header-grid .btn-clear {
  background-color: #282523;
  color: #726a5b;
  padding: 3px 6px;
}
.header-grid .btn-clear:hover {
  background-color: #282523;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: absolute;
  height: 110%;
  width: 120px;
  background: url("../img/logo.jpg") no-repeat center center/cover;
  display: inline-block;
  margin-right: 25px;
}

.top-banner,
.bottom-banner {
  display: flex;
  justify-content: space-between;
}

.top-banner {
  margin: 10px 0;
  font-size: 12px;
}
.top-banner p {
  display: inline-block;
}
.top-banner p span {
  text-transform: uppercase;
}
.top-banner .btn {
  font-size: 11px;
}

.bottom-banner {
  margin: 15px 0;
  align-self: center;
  font-size: 15px;
}

.left-flex {
  justify-self: start;
}

.right-flex {
  justify-self: end;
}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 32px;
  background-color: #ab2623;
  color: #fff;
  border: none;
  width: fit-content;
}
.btn:hover {
  background-color: #282523;
  color: #fff;
}
.btn-clear {
  background-color: #eae5de;
  color: #333;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 13px;
  border: #726a5b solid 1px;
}
.btn-clear:hover {
  color: #ab2623;
  background-color: #eae5de;
  border: #ab2623 solid 1px;
}
.btn-clear span {
  color: #ab2623;
  padding-left: 4px;
}

.showcase {
  color: #fff;
  background: url("../img/hero1.jpg") no-repeat center center/cover;
  height: 525px;
}
.showcase h1 {
  color: #fff;
}
.showcase .container {
  height: 100%;
}
.showcase .container .content {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
.showcase .container .content p {
  margin: 15px 0;
}

.new-releases {
  background-color: #eae5de;
  color: #333;
  padding: 55px 0;
}
.new-releases .carousel {
  display: flex;
  width: 1200px;
  align-items: center;
}
.new-releases .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#border-bottom {
  width: 75px;
  border-bottom: #ab2623 solid 6px;
  align-self: center;
}

.row {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  max-width: inherit;
  font-weight: bold;
  text-align: center;
  align-self: center;
  align-items: center;
  margin: 50px 0;
}
.row-horizontal {
  margin-top: 0;
  width: 100%;
  flex-direction: row;
}
.row-bottom {
  margin-top: 10px;
  margin-bottom: 0px;
}
.row-carousel {
  width: 100%;
}
.row .card {
  padding: 25px 0;
  text-align: center;
  margin: 0px 25px;
}
.row .card img {
  width: 100%;
}
.row .card p {
  color: #333;
  width: 100%;
  font-weight: lighter;
}
.row h3 {
  font-size: 16px;
  color: #333;
}
.row p {
  font-size: 15px;
  color: #726a5b;
  padding: 15px 0;
  width: 475px;
  align-self: center;
  line-height: 1.5;
}
.row .price {
  font-size: 18px;
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f6f5f1;
}
.featured-grid .cell {
  justify-self: center;
}
.featured-grid .cell-flex {
  height: 100%;
  max-width: 425px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
}
.featured-grid .cell-flex p {
  font-size: 1.1rem;
  margin: 20px 0;
}
.featured-grid .cell img {
  width: 100%;
  height: 100%;
}
.featured-grid .btn {
  margin-left: 0;
}

.find-next-guitar {
  background-color: #eae5de;
  padding-bottom: 25px;
}
.find-next-guitar .container {
  display: flex;
  flex-direction: column;
}
.find-next-guitar .container h1 {
  color: #333;
}

.about {
  background-color: #f6f5f1;
  padding: 50px 0;
  text-align: left;
}
.about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .content {
  width: 700px;
  display: flex;
  flex-direction: column;
}
.about p {
  margin: 15px 0;
  color: #333;
}

.signup {
  background-color: #333;
  padding: 50px 0;
}
.signup .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup p {
  margin: 20px 0;
  text-align: center;
  width: 550px;
}

.footer {
  color: #eae5de;
  background-color: #282523;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 14px;
}
.footer a {
  font-weight: 400;
}
.footer .btn {
  padding: 8px 14px;
  background-color: #00ff;
  border-radius: 50px;
  margin-top: 15px;
}
.footer .btn .wheelchair {
  color: #fff;
}
.footer .social-media {
  margin: 50px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .info {
  display: flex;
}
.footer .links {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.footer .links a {
  line-height: 1.5;
}
.footer .links p {
  padding: 6px 20px;
}
.footer .other {
  font-size: 12px;
  padding: 25px 0;
}
.footer .other a {
  padding: 5px 15px;
}
.footer .top {
  margin-bottom: 15px;
}

/*# sourceMappingURL=styles.css.map */
